.container{
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
}

.list{
    display: flex;
    justify-content: space-around;
}

button{
    margin: 6px;
}