.container{
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
}

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

button{
    margin: 6px;
}